// footer
footer.footer
	.wrapper
		.footer_row
			.footer_row-in
				ul.footer_menu
					li
						a(href="#") Наша история
					li
						a(href="#") Контакты
					li
						a(href="#") Инструкция
				ul.footer_menu
					li
						a(href="#") FAQs
					li
						a(href="#") Доставка 
					li
						a(href="#") Оплата
			.footer_copyright &copy; 2020, MBrush
// /footer