footer.footer
	.wrapper
		.footer_row
			.footer_row-in
				ul.footer_menu
					li
						a(href="owr_history.html") Наша история
					li
						a(href="contacts.html") Контакты
					li
						a(href="guide.html") Инструкция
				ul.footer_menu
					li
						a(href="faq.html") FAQs
					li
						a(href="delivery.html") Доставка 
					li
						a(href="payment.html") Оплата
			.footer_copyright &copy; 2020, MBrush