// header
header.header#header
	.wrapper

		// menu
		//- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
		#menu.menu.menu--left
			nav.menu_nav
				ul.menu_list.menu_list--white
					li
						a(href="#") Home
					li
						a(href="#") MBrush Mobile Color Printer
				ul.menu_list
					li
						a(href="#") Log In
					li
						a(href="#") Create Account
					li
						a(href="#") OUR STORY
					li
						a(href="#") CONTACT US
					li
						a(href="#") FAQs
					li
						a(href="#") GUIDELINE
					li
						a(href="#") SHIPPING POLICY
					li
						a(href="#") REFUND POLICY
					li
						a(href="#") TERMS &amp; CONDITIONS
					li
						a(href="#") PRIVACY POLICY
			.menu_over
		// /menu

		.header-b
			#menu-btn.menu-btn
				.menu-btn_box
					.menu-btn_inner
			a(href="#").logo MBRUSH
			ul.submenu
				li
					a(href="#") Главная
				li
					a(href="#") Цветной принтер mbrush

// /header