// header
header.header#header
	.wrapper

		// menu
		//- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
		#menu.menu.menu--left
			nav.menu_nav
				ul.menu_list.menu_list--white
					li
						a(href="#") Главная
					li
						a(href="#") Цветной принтер MBrush
				ul.menu_list
					li
						a(href="#") Наша история
					li
						a(href="#") Контакты
					li
						a(href="#") Инструкция
					li
						a(href="#") FAQs
					li
						a(href="#") Доставка
					li
						a(href="#") Оплата
			.menu_over
		// /menu

		.header-b
			#menu-btn.menu-btn.menu-btn--black
				.menu-btn_box
					.menu-btn_inner
			a(href="#").logo.logo--black MBRUSH
			ul.submenu.submenu--black
				li
					a(href="#") Главная
				li
					a(href="#") Цветной принтер mbrush

// /header