extends blocks/base.jade

block title 
	title Контакты

block content

	include blocks/header_black.jade
	
	.wrapper

		main.page
			// contacts
			.contacts
				h1.title НАШИ КОНТАКТЫ
				.contacts_content
					p.contacts_text Напишите нам по  любым вопросам. Мы здесь, чтобы помочь Вам!Ответ на все электронные письма будет получен в течение 24 часов (рабочих дней).Мы предлагаем полную поддержку в будние дни с 10 ч. 00 м. до 18 ч. 00 м. по Мск.
					ul.contacts_list
						li
							span Наш адрес электронной почты: 
							a(href="mailto:support@site.ru") support@site.ru
						li
							span Контактный номер: 
							a(href="tel:+74959089370") +7 (495) 908-93-70
						li
							span Адрес: Москва, Беговая аллея , 5к3
			// /contacts
		
	include blocks/footer.jade

block js
	script(src="js/jquery.min.js")
	//- script(src="js/jquery.fancybox.js")
	//- script(src="js/slick.min.js")
	//- script(src="js/jquery.matchHeight-min.js")
	//- script(src="js/jquery.inputmask.min.js")
	//- script(src="js/autosize.min.js")
	//- script(src="js/tooltipster.bundle.min.js")
	//- script(src="js/jquery.mmenu.min.all.js")
	//- script(src="js/wow.min.js")
	//- script(src="js/fullpage.min.js")
	//- script(src="js/jquery.vide.min.js")
	//- script(src="js/jquery.scrollbar.min.js")
	//- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	//- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y"></script>
	script(src="js/script.js")