extends blocks/base.jade

block title 
	title MBrush - Доставка

block content

	include blocks/header_black.jade

	.page-wrapper
	
		.wrapper

			main.page
				h1.title.title--small Доставка

				.text
					h2 ВРЕМЯ ОБРАБОТКИ ЗАКАЗА
					p
						strong После подтверждения оплаты товар будет обработан для отправки в течение 2 ~ 4 дней.
					p Максимальная высота печати - 14,29 мм/0,5625 дюйма. Для одиночного прохода он может печатать длиной 1 0,3м/4,26 фута. В режиме многострочной печати он может печатать до 3м/9,8 футов. Если требуется напечатать массив с большими размерами, можно использовать многострочный элемент с помощью линеек для их объединения.
					h2 ВРЕМЯ ДОСТАВКИ
					p Мы осуществляем поставки по всему миру (более 220 стран) через самых надежных перевозчиков, таких как USPS, FedEx, DHL, Aramex и CNE. <br>После того, как ваш заказ подготовлен и готов к отправке (2 ~ 4 рабочих дня), срок доставки составляет 7 ~ 12 рабочих дней в Европе/США/CA/AU/Азии/Ближнем Востоке и 9 ~ 16 рабочих дней в другом регионе.</br>
					h2 Доставка
					p Мы используем стандартную логистику и несем фрахт.
					h2 ВРЕМЯ ПРОИЗВОДСТВА
					p В MBrushprinter.ru наши опытные ремесленники усердно работают над тем, чтобы каждый заказ был высочайшего качества. Большинство наших продуктов находятся на складе и будут отгружены сразу после их обработки.
					h2 НЕСКОЛЬКО ПОЗИЦИЙ
					p Если ваш заказ включает несколько товаров, они могут отправляться из разных мест, иметь разное время в пути и могут прибыть в разные дни, но в большинстве случаев вы получите их вместе в одном ящике.
					h2 НОМЕР ОТСЛЕЖИВАНИЯ
					p Электронное письмо с номером для отслеживания будет отправлено вам в течение 24-48 часов после отправки заказа.
					h2 ФОРС-МАЖОРНЫЕ ЗАДЕРЖКИ
					p MRrushprinter.ru, мы прилагаем максимум усилий, чтобы заказы были доставлены вовремя, как и было обещано. Однако мы не можем возместить расходы на доставку в случае национальных кризисов, праздников, стихийных бедствий, задержек перевозчиков или других обстоятельств, когда задержка не под нашим контролем.
					h2 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ: ЧТО ТАКОЕ ОЦЕНКА ДОСТАВКИ?
					p Оценки поставок основаны на двух факторах: времени обработки заказа и времени в пути. В поле Товары на складе будут отправлены после того, как товар будет найден, ваш платеж будет утвержден, и адрес получения будет проверен. Для большинства заказов этот процесс начинается после отправки заказа через Интернет.
					p
						strong Наш магазин не несет ответственности за потерянные товары, если указан неверный адрес доставки.<br>Если ваш пакет не появится или не будет поврежден, пожалуйста, свяжитесь с нами по адресу MBRUSHPRINTER@HOTMAIL.COM, если у вас есть какие-либо вопросы.</br>
			
		include blocks/footer.jade

block js
	script(src="js/jquery.min.js")
	//- script(src="js/jquery.fancybox.js")
	//- script(src="js/slick.min.js")
	//- script(src="js/jquery.matchHeight-min.js")
	//- script(src="js/jquery.inputmask.min.js")
	//- script(src="js/autosize.min.js")
	//- script(src="js/tooltipster.bundle.min.js")
	//- script(src="js/jquery.mmenu.min.all.js")
	//- script(src="js/wow.min.js")
	//- script(src="js/fullpage.min.js")
	//- script(src="js/jquery.vide.min.js")
	//- script(src="js/jquery.scrollbar.min.js")
	//- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	//- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y"></script>
	script(src="js/script.min.js")