extends blocks/base.jade

block title 
	title Главная

block content

	include blocks/header.jade
	
	// welcome
	.welcome
		.wrapper
			.welcome_content
				h1.welcome_title САМЫЙ МАЛЕНЬКИЙ В МИРЕ МОБИЛЬНЫЙ ЦВЕТНОЙ ПРИНТЕР<span>MBrush</span>
				a(href="#").btn-black Купить
	// /welcome

	.wrapper

		// history
		.history
			h2.subtitle НАША ИСТОРИЯ
			.history_text KONGTEN, захватывающий новый стартап, посвященный новым технологиям и инновационным типографским решениям. Команда состоит из экспертов в области технологии струйной печати, промышленного дизайна и разработки программного обеспечения. Наша цель - сделать качественные технологии доступными и простыми для всех в мире.

			.row
				.history_col
					.history_img
						img(src="img/m0001_300x300.jpg")
				.history_col.history_col--content
					.history_content
						h3 ПОРТАТИВНАЯ РУЧНАЯ ПЕЧАТЬ
						p MBrush сверхлегкий, легко уместится на Вашей на ладони и позволит сделать максимально высокое качество и быструю печать где угодно. Он работает по Wi-Fi с вашим телефоном, чтобы легко загружать любой текст, изображение или дизайн и мгновенно печатать на практически любой объект нажатием кнопки. Печать никогда не была более мобильной и удобной.

			.row
				.history_col.history_col--content
					.history_content
						h3 ЖИви В ЦВЕТЕ
						p В отличие от других портативных принтеров, MBrush не ограничивается чёрно-белым цветом. Он печатает в ярком цвете, что заставляет сообщения выделяться. Его цветная струя персонализирует обычные предметы и добавляет искусство в повседневную жизнь. Это действительно весело и легко использовать!
				.history_col
					.history_img
						img(src="img/m0002_1728x.jpg")

			.row
				.history_col
					.history_img
						img(src="img/m0003_1296x.jpg")
				.history_col.history_col--content
					.history_content
						h3 Сделано для долгой печати
						p Используя новейшую технологию аккумуляторов, MBrush всегда готов к работе. Одна плата обеспечивает 6 часов рабочего времени и невероятный 1 год ожидания! Ваша мобильная печать должна длиться дольше и работать быстрее. Более того, для 1 одного картриджа можно напечатать свыше 415 страниц A4 бумаги!

			.row
				.history_col.history_col--content
					.history_content
						h3 ПРЕДНАЗНАЧЕН ДЛЯ СОВРЕМЕННОЙ ЖИЗНИ
						p MBrush имеет инновационный промышленный дизайн, который делает его как портативным, так и эргономичным. Он настраивается за считанные минуты, прозрачно работает со смартфоном, и все операции печати можно контролировать одной кнопкой печати. Просто нажмите кнопку и напечатайте что угодно.
				.history_col
					.history_img
						img(src="img/m0004_1512x.jpg")
		// /history

		// video
		.video
			<iframe width="850" height="480" src="https://www.youtube.com/embed/ThMT6WIZfXM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		// /video
		
	include blocks/footer.jade

block js
	script(src="js/jquery.min.js")
	//- script(src="js/jquery.fancybox.js")
	//- script(src="js/slick.min.js")
	//- script(src="js/jquery.matchHeight-min.js")
	//- script(src="js/jquery.inputmask.min.js")
	//- script(src="js/autosize.min.js")
	//- script(src="js/tooltipster.bundle.min.js")
	//- script(src="js/jquery.mmenu.min.all.js")
	//- script(src="js/wow.min.js")
	//- script(src="js/fullpage.min.js")
	//- script(src="js/jquery.vide.min.js")
	//- script(src="js/jquery.scrollbar.min.js")
	//- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	//- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y"></script>
	script(src="js/script.js")