extends blocks/base.jade

block title 
	title Спасибо за заявку!

block content

	include blocks/header_black.jade
	
	.page-wrapper
		.success
			.wrapper
				h1.subtitle Спасибо! Ваша заявка принята

	include blocks/footer.jade