.owrHistory {
	.subtitle {
		margin-bottom: 33px;
	}
	.history_text {
		margin-bottom: 100px;
	}
	&_block {
		margin-bottom: 100px;
	}
	.history_img {
		margin-bottom: 110px;
	}
	.history_content {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		h3 {
			margin-bottom: 20px;
		}
	}
	@media (max-width: $break_sm) {
		.title {

		}
		.subtitle {
			margin-bottom: 20px;
		}
		.history_text {
			margin-bottom: 50px;
		}
		.history_img {
			margin-bottom: 50px;
		}
		&_block {
			margin-bottom: 50px;
		}
	}
}